
<div id="landing-container" style="width: 400px; margin:0 auto; text-align: center;">
  <h1 class="landing">tweet-stalker</h1>
  <a href="/auth/twitter"><%= image_tag "twitter-logo.png" %></a>
  <h3 style="color: #CCC; margin:0;">Click on the image to log-in</h3>
</div>
