<script type="text/template" id="tweet_template">
  <div class="feed_tweet">
    <div class="left">
      <img src='{{= model.get('twitter_user').profile_image_url }}' alt='image' %/>
    </div>
    <div class="right">
      <div class="username">
        @{{=model.get('twitter_user').user_screen_name}}
        <div class="datetime">{{=model.get('created_at')}}</div>
      </div>
      <div class="text">{{= model.get('text') }}</div>
      <div class="noun_phrase">
        <ul>
        {{ _.each(model.get('noun_phrases').split('|'), function(name) { }} <li>{{= name }}</li> {{ }); }}
      </ul>
      </div>
    </div>
</div>
</script>

<div id="header">

</div>

<div id="feed">
  <div id="header_buttons">
    <button id="reload_feed">Reload feed</button>
  </div>
  <!-- main feed container -->
  <div id="tweets"></div>
</div>
