<script type="text/template" id="popup_template">
  <div class="popup_container">
    <div class="popup_title"><h1>Tracked lists</h1></div>
    <div class="popup_contents"></div>
    <div class="buttons_container"><button>Save</button></div>
  </div>
  <div class="popup_background"></div>
</script>

<script type="text/template" id="tracked_lists_template">
  <div class='list'>
    <div class='list_name'>
      <input type="checkbox" name="animal" value="Cat" /> {{= model.get('name')}}
    </div>
    <div class='list_details'>
      Subscribers: {{= model.get('subscriber_count') }} | {{= model.get('member_count') }}
      id: {{= model.get('twitter_list_id') }}
    </div>
  </div>
</script>

<script type="text/template" id="tweet_template">
  <div class="feed_tweet">
    <div class="left">
      <img src='{{= model.get('twitter_user').profile_image_url }}' alt='image' %/>
    </div>
    <div class="right">
      <div class="username">
        @{{=model.get('twitter_user').user_screen_name}}
        <div class="datetime">{{=model.get('created_at')}}</div>
      </div>
      <div class="text">{{= model.get('text') }}</div>
      <div class="noun_phrase">
        <ul>
        {{ _.each(model.get('noun_phrases').split('|'), function(name) { }} <li>{{= name }}</li> {{ }); }}
      </ul>
      </div>
    </div>
</div>
</script>

<div id="main_container">
  <div id="header">

  </div>

  <div id="feed">
    <div id="header_buttons">
      <button id="reload_feed">Reload feed</button>
    </div>
    <!-- main feed container -->
    <div id="tweets"></div>
  </div>
</div>
